# 5. Hafta-Sklearn Kütüphanesi

Scikit-learn kütüphanesi;
1. Veri analizi için kullanılan kolay ve etkili bir araçtır.
2. NumPy, SciPy ve matplotlib kütüphaneleri üzerine kurulmuştur.
3. Açık Kaynaklı BSD lisansı izinlerine sahiptir.

[https://scikit-learn.org/stable/](scikit-learn)

In [3]:
from sklearn import datasets

In [4]:
iris = datasets.load_iris()

In [5]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [6]:
type(iris)

sklearn.utils.Bunch

In [7]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [8]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [9]:
import pandas as pd

In [13]:
data = pd.DataFrame(iris.data)

In [16]:
data.columns = iris.feature_names

In [17]:
data.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [18]:
data['target']= iris.target

In [19]:
data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

# Eksik Verilerin Doldurulması - Scikitlearn

In [20]:
import numpy as np

In [22]:
X = pd.DataFrame(
    np.array([
        5, 7, 8, np.NaN, np.NaN, np.NaN, -5, 0, 25, 999, 1, -1, np.NaN, 0,
        np.NaN
    ]).reshape((5, 3)))

In [23]:
X

       0    1     2
0    5.0  7.0   8.0
1    NaN  NaN   NaN
2   -5.0  0.0  25.0
3  999.0  1.0  -1.0
4    NaN  0.0   NaN

# Ordinal verilerin etiketlenmesi

In [24]:
X = pd.DataFrame(
    np.array([
        'M', 'O-', 'medium', 'M', 'O-', 'high', 'F', 'O+', 'high', 'F', 'AB',
        'low', 'F', 'B+', 'low'
    ]).reshape((5, 3)))
X.columns = ['gender', 'blood_type', 'edu_level']

In [25]:
X

  gender blood_type edu_level
0      M         O-    medium
1      M         O-      high
2      F         O+      high
3      F         AB       low
4      F         B+       low

In [26]:
from sklearn.preprocessing import OrdinalEncoder

In [27]:
encoder = OrdinalEncoder() # Kategorileri otomatik bıraktık

In [34]:
X.edu_level = encoder.fit_transform(X.edu_level.values.reshape(-1, 1))

In [35]:
X

  gender blood_type  edu_level
0      M         O-        2.0
1      M         O-        0.0
2      F         O+        0.0
3      F         AB        1.0
4      F         B+        1.0

In [36]:
encoder.categories_

[array(['high', 'low', 'medium'], dtype=object)]

In [41]:
X = pd.DataFrame(np.array(['M', 'O-', 'medium','M', 'O-', 'high','F', 'O+', 'high','F', 'AB', 'low','F', 'B+', 'low']).reshape((5,3)))
X.columns = ['gender', 'blood_type', 'edu_level']

In [42]:
edu_levels = {
           'low': 1,
           'medium': 2,
           'high': 3}

In [38]:
type(edu_levels)

dict

In [43]:
X['edu_level']=X['edu_level'].apply(lambda x:edu_levels[x])

In [44]:
X

  gender blood_type  edu_level
0      M         O-          2
1      M         O-          3
2      F         O+          3
3      F         AB          1
4      F         B+          1